# --- Frontend (Nuxt) ---
STRAPI_URL=https://n8n.talentaraya.co.id
NUXT_STRAPI_URL=http://localhost:1337

# --- Backend (Strapi) ---
HOST=0.0.0.0
CMS_PORT=1337
APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
JWT_SECRET=tobemodified
ENCRYPTION_KEY=tobemodified

# Database (SQLite)
DATABASE_CLIENT=sqlite
DATABASE_FILENAME=.tmp/data.db
