# --- Frontend (Nuxt) ---
STRAPI_URL=http://localhost:1337
NUXT_STRAPI_URL=http://cms:1337

# --- Backend (Strapi) ---
HOST=0.0.0.0
CMS_PORT=1337
APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
JWT_SECRET=tobemodified
ENCRYPTION_KEY=tobemodified

# Database (PostgreSQL)
DATABASE_CLIENT=postgres
DATABASE_HOST=db
DATABASE_PORT=5432
DATABASE_NAME=strapi
DATABASE_USERNAME=strapi
DATABASE_PASSWORD=strapiDatabaseSecret!
DATABASE_SSL=false
