# Dependencies
node_modules

# Build outputs
.nuxt
.output
dist
.cache

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea

# Public
public

# Lock files
package-lock.json
pnpm-lock.yaml
yarn.lock
